<style>
body
{
    font-weight: Normal;
    font-family: Arial;
    font-size: 13px;
    color: #000000;
}


select
{
    font-weight: Normal;
    font-family: Arial;
    font-size: 13px;
}


input
{
    font-weight: Normal;
    font-family: Arial;
    font-size: 13px;
}


td
{
    font-weight: Normal;
    font-family: Arial;
    font-size: 13px;
}


.link
{
    text-decoration: None;
    font-weight: Bold;
    font-family: Arial;
    font-size: 13px;
}


.small
{
    font-weight: Normal;
    font-family: Verdana;
    font-size: 11px;
}


.smalllink
{
    font-weight: Normal;
    font-family: Verdana;
    font-size: 11px;
    text-decoration: none;
    color: DarkBlue;
}


.line-bottom
{
    border-bottom: 1px solid #afafaf;
}
</style>
